<h1 style="text-align:center;"> Calculator</h1>
<div style="padding: 10px 10px 10px 10px;">
<h3>First Number: <input type="number" ng-model="number1"></h3> 
<h3>Second Number: <input type="number" ng-model="number2"></h3>
        <div style="border: 1px solid black;">
			<h4>Sum : {{ number1 + number2 }}</h4>
            <h4>Difference : {{ number1 - number2}}</h4>
            <h4>Multiply : {{ number1 * number2}}</h4>
            <h4>Divide : {{ number1 / number2}}</h4>
        </div>
<hr>
</div>