<!doctype html>
<html lang="en">

<head>
	<title>Angular Animations</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body ng-app="">
	<!--<select ng-model="weblang">
			<option value="html">HTML
			<option value="css">CSS
			<option value="javascript">JavaScript
			
		</select>-->
	<input type="text" ng-model="weblang">
	<div ng-switch="weblang">
		<div ng-switch-when="html">
			<h1>HTML</h1>
			<br>
			<em>
				<marquee direction="up">
					<p>
						<span class="highlightme">The HyperText Markup Language</span> or HTML is the standard markup
						language for documents designed to be displayed in a web browser. It can be assisted by
						technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.

						Web browsers receive HTML documents from a web server or from local storage and render the
						documents into multimedia web pages. HTML describes the structure of a web page semantically and
						originally included cues for the appearance of the document.

						HTML elements are the building blocks of HTML pages. With HTML constructs, images and other
						objects such as interactive forms may be embedded into the rendered page. HTML provides a means
						to create structured documents by denoting structural semantics for text such as headings,
						paragraphs, lists, links, quotes and other items. HTML elements are delineated by tags, written
						using angle brackets. Tags such as "<\img>" and "\<\input>" directly introduce content into the
								page. Other tags such as "\<\p>" surround and provide information about document text
									and may include other tags as sub-elements. Browsers do not display the HTML tags
									but use them to interpret the content of the page.

									HTML can embed programs written in a scripting language such as JavaScript, which
									affects the behavior and content of web pages. Inclusion of CSS defines the look and
									layout of content. The World Wide Web Consortium (W3C), former maintainer of the
									HTML and current maintainer of the CSS standards, has encouraged the use of CSS over
									explicit presentational HTML since 1997.[2] A form of HTML, known as HTML5, is used
									to display video and audio, primarily using the "<\canvas>" element, in
										collaboration with javascript.
					</p>
				</marquee>
				<ul>
					<h1>HTML versions timeline</h1>
					<li>HTML 2 - November 24th 1995</li>
					<li>HTML 3 - January 14 1997</li>
					<li>HTML 4 - December 18 1997</li>
					<li>HTML 4 - April 24 1998</li>
					<li>HTML 4 - December 24 1999</li>
					<li>HTML 4 - May 2000</li>
					<li>HTML 5 - October 28 2014</li>
					<li>HTML 5 - November 1 2016</li>
					<li>HTML 5 - December 14 2017</li>
				</ul>
				<br>
			</em>
		</div>
		<div ng-switch-when="css">
			<h1>CSS</h1>
			<br>
			<em>
				<a href="ex3a.html">Click here to know more about CSS</a>
			</em>
		</div>
		<div ng-switch-when="javascript">
			<h1>JS</h1>
			<br>
			<em>
				<p>
					<span class="highlightme">JavaScript</span> (/ˈdʒɑːvəskrɪpt/),[10] often abbreviated JS, is a
					programming language that is one of the core technologies of the World Wide Web, alongside HTML and
					CSS.[11] Over 97% of websites use JavaScript on the client side for web page behavior,[12] often
					incorporating third-party libraries.[13] All major web browsers have a dedicated JavaScript engine
					to execute the code on users' devices.

					JavaScript is a high-level, often just-in-time compiled language that conforms to the ECMAScript
					standard.[14] It has dynamic typing, prototype-based object-orientation, and first-class functions.
					It is multi-paradigm, supporting event-driven, functional, and imperative programming styles. It has
					application programming interfaces (APIs) for working with text, dates, regular expressions,
					standard data structures, and the Document Object Model (DOM).

					The ECMAScript standard does not include any input/output (I/O), such as networking, storage, or
					graphics facilities. In practice, the web browser or other runtime system provides JavaScript APIs
					for I/O.

					JavaScript engines were originally used only in web browsers, but are now core components of some
					servers and a variety of applications. The most popular runtime system for this usage is Node.js.

					Although Java and JavaScript are similar in name, syntax, and respective standard libraries, the two
					languages are distinct and differ greatly in design.
				</p>
			</em>
		</div>
	</div>
</body>

</html>