<!DOCTYPE html>
<html>

<head>
    <title>TTRS</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="bg-image"></div>
    <div class="bg-text">
        <h1 style="color: bisque;">Time Table Reminder System</h1>
        <hr>
        <div style="font-family: sans-serif;">
            <form action="/addreminder" target="_top" id="loginbox">
                <table>
                    <tr>
                        <th><label for="user">Username:</label></th>
                        <td><input type="text" name="user" id="user"></td>
                    </tr>
                    <tr>
                        <th><label for="pass">Password:</label></th>
                        <td><input type="password" name="pass" id="pass"></td>
                    </tr>
                    <tr>
                        <th colspan="2" class="submit"><input type="submit"></th>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>